body {
  font-family: 'Livvic', sans-serif;
  margin: 0;
  color: #020E1A;
}

header {
  background-image: url('abstract-background.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #020E1A;
  background-size: cover;
  padding: 5vmin;
  color: white;
}

.header__title {
  text-align: left;
  margin-left: 1rem;
  font-style: normal;
  font-size: 1.5em;
}

nav {
  text-align: left;
  /*border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0.5em;
  margin: 2rem 0;*/
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.nav__button {
    padding: 1rem;

}

h1 {
  margin-left: 1rem;
  font-size: xxx-large;
}

h2 {
  text-align: center;
  font-size: xx-large;
  margin-top: 3rem;
}

h3 {
  margin-bottom: 0;
  width: 100%;
}

h4 {
  margin: 0;
}

ul > h3 {
  margin-bottom: 2rem;
}

a {
  text-decoration: inherit;
  color: inherit;
}

section {
  padding: 1rem 0;
  text-align: center;
}

ul {
  margin-top: 1rem;
  padding-left: 0;
  list-style: none inside none;
}

.section-container {
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-flow: row wrap;
  padding: 3vw;
  padding-top: 1vw;
}

.section-container.skills {
  width: 80vw;
  margin: auto;
  justify-content: center;
}

.section-container__block {
  padding: 2rem;
  margin: 1rem;
  flex: 1 1 15vw;
  text-align: center;
  border-radius: 1vmin;
}

 .section-container__block--main-skills {
   display: block;
   color: white;
   background-color: #032A39;
 }

.section-container__block--skills {
  flex: 0.4 1;
  margin: 2vw;
}

.section-container__block--project {
  border-color: white;
  background-color: white;
  color: #020E1A;
  min-width: 200px;
}


.nav__button:hover, :focus {
  color: #020E1A;
  background-color: white;
}

#projects {
  background-color: #032A39;
  color: white;
}

.project__links {
  padding-top: 0.5em;
}

.project__link:hover, :focus {
  color: blue;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1rem;
}

@media all and (max-width: 550px) {
  .section-container {
    flex-direction: column;
  }
}
